body{
    margin: 0;
    padding: 0;
    overflow: hidden;

    background: #343434;
}

.life{
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;

    width: 10rem;
    height: 1.6rem;
    background: #ddd;

    z-index: 10;
}

.life-left{
    width: calc(var(--life) * 1%);
    height: 1.2rem;
    background: #ff0000;
}



[class^="btn"]{
    position: absolute;
    top: 45%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 4rem;

    font-size: 25px;
    background: #ddd;
    opacity: 90%;
    border-radius: 50%;
    cursor: pointer;
}

.btn-right{
    right: 0;
}



[class*="plane"]{
    position: absolute;

    width: 5rem;
    height: 3rem;
    transition: 50ms;
}

[class*="bullet"]{
    position: absolute;

    width: 1.9rem;
    height: 1.9rem;
}



.jet-plane{
    left: calc(var(--x) * 3.5rem);
    bottom: 0;

    background: pink;
    border-radius: 100% 100% 0 0;
}

.jet-plane-bullet{
    left: calc((var(--x) + 0.45) * 3.5rem);
    z-index: -1;
    
    animation: 8s shootEnemy linear;
    border-radius: 60% 60% 0 0;
    background: #ff0000;
}

@keyframes shootEnemy {
    from { bottom: 2.5rem; }
    to{ bottom: 120%; }
}



.enemy-plane{
    left: calc(var(--x) * 3.5rem);

    background: orange;
    border-radius: 0 0 100% 100%;

    animation: 500ms flyToYou ease;
}

@keyframes flyToYou{
    0%{ top: -10rem; }
    100%{ top: 0rem; }
}

.enemy-plane-bullet{
    left: calc((var(--x) + 0.45) * 3.5rem);

    background: #db0000;
    border-radius: 0 0 60% 60%;

    animation: 10s shootPlayer linear;
    z-index: -1;
}

@keyframes shootPlayer {
    from { top: 2.5rem; }
    to { top: 120%; }
}