body{
    margin: 0;
    padding: 0;
    overflow: hidden;

    background: #343434;
}



.top{
    display: flex;
    flex-direction: row;
}

#score{
    margin: 0;
    color: red;
    font-size: 50px;
    font-family: sans-serif;
    z-index: 100;
}



[class^="btn"]{
    position: absolute;
    top: 45%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 4rem;

    font-size: 25px;
    background: #ddd;
    opacity: 90%;
    border-radius: 50%;
    cursor: pointer;
}

.btn-right{
    right: 0;
}



[class*="jet"]{
    position: absolute;

    width: 8vw;
    height: 4vw;
    transition: 50ms;
}

[class*="bullet"]{
    position: absolute;

    width: 2vw;
    height: 2vw;
}



.jet-plane{
    left: calc(var(--x) * 4vw);
    bottom: 0;

    background: #ddd;
}

.jet-plane-bullet{
    left: calc(var(--x) * 4vw);
    bottom: calc(var(--y) * 4vh);
    z-index: -1;
    
    animation: 8s linear;
    border-radius: 60% 60% 0 0;
    background: #ff0000;
}


.enemy-jet{
    left: calc(var(--x) * 4vw);
    top: 0;

    background: #ddd;
}

.enemy-bullet{
    left: calc(var(--x) * 4vw);
    top: calc(var(--y) * 4vh);
    z-index: -1;
    
    animation: 8s linear;
    border-radius: 0 0 60% 60%;
    background: #ff0000;
}



@media screen and (min-width: 768px){
    [class^="btn"]{
        display: none;
    }
}